/******************* Global view *******************/
.nm-ui-notifications h2 {
  @include unitize(padding-top, 50);
  @include unitize(padding-left, 50);
  @include unitize(font-size, 30);
}

.nm-ui-notifications {
  height: 100vh;
}

.nm-ui-notifications .inner {
  position: relative;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  @include flexbox;
  @include unitize(width, 1200);
  @include unitize(padding-left, 10);
  @include unitize(padding-right, 10);
}

.nm-ui-notifications .js--button {
  outline: 0; //outline focus removed
  color: $white;
  background-color: $turkis;
  @include flex(1);
  @include unitize(margin-left, 10);
  @include border($turkis, 2); //border with border radius 2
  @include unitize(padding-left, 10);
  @include unitize(padding-right, 10);
  @include unitize(height, 50);
  @include unitize(font-size, 16);
  @include unitize(line-height, 50);
}

.nm-ui-notifications .js--button:first-child{ //styles for first child only
  margin-left: 0;
}
