/******************* Global view *******************/
.nm-ui-notifications {
  position: relative;
  height: 100vh;
}

.nm-ui-notifications .inner {
  position: relative;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  @include flexbox;
  @include unitize(width, 1200);
  @include unitize(padding-left, 10);
  @include unitize(padding-right, 10);
}
